*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*outline: 1px solid red;*/
    font-family: 'Roboto', sans-serif;
}
body
{
    color: #576366 !important;
    background-color: #5fcf80 !important;
}
.containe 
{
    width: 95%;
    max-width: 780px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 2em;
    margin: 4em auto;
    background: #fff;
    border-radius: .5em;
    box-shadow: 0 3px rgba(0,0,0,.1);
    overflow: hidden;
}
.container-fluid 
{
    padding-left: 0 !important;
}
.icon
{
    color: white;
    background-color: #54606B;
    padding: 0 20px;
}
#icon
{
    font-size: 44px;
}
.navbar-nav>.active>a, .navbar-nav>.active>a:hover, .navbar-nav a:hover
{
    color: white !important;
    background-color: #3B80D1 !important;
}
ul{
    list-style-type: none;
}
.courses
{
    margin-top: 70px;
}
.div
{
    padding-left: 90px;
}
@media (min-width: 769px)
{
    .teacher
    {
    width: 47%;
    margin-bottom: 1.5em;
    float: left;
    margin-left: 3%;
    }
    .css
    {
        width: 50px;
        margin-bottom: 1.5em;
        margin-left: 3%;
        float: left;
    }
    .container 
    {
        width: 770px;
    }
}